@import "tailwindcss";

:root {
  /* Cores */
  --color-background: #000000;
  --color-foreground: #ffffff;
  --color-primary: #A6F6FF;
  --color-muted: rgba(255, 255, 255, 0.6);

  --font-body: var(--font-body);
  --font-heading: var(--font-heading);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-body);
}

.font-heading {
  font-family: var(--font-heading);
}

.font-body {
  font-family: var(--font-body);
}

.hero-metal {
  background: linear-gradient(
    180deg,
    rgba(255,255,255,0.98) 0%,
    rgba(255,255,255,0.65) 70%,
    rgba(255, 255, 255, 0.083) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

